<mat-toolbar color="primary" class="main-toolbar">
  <button
    mat-icon-button
    class="mobile-menu-btn"
    (click)="toggleMobileMenu()"
    *ngIf="isMobileView"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo-container">
    <a routerLink="" mat-button class="logo-link">
      <mat-icon>local_movies</mat-icon>
      <span class="logo-text">AngularMovies</span>
    </a>
  </span>

  <div class="nav-container" [class.mobile-nav-active]="isMobileMenuOpen">
    <div class="nav-links">
      <!-- Main Navigation -->
      <a mat-button routerLink="movies/filter" class="nav-button">
        <mat-icon>search</mat-icon>
        <span>Search movies</span>
      </a>

      <a mat-button routerLink="movies/upcoming" class="nav-button">
        <mat-icon>upcoming</mat-icon>
        <span>Upcoming</span>
      </a>

      <a mat-button routerLink="movies/in-theaters" class="nav-button">
        <mat-icon>movie</mat-icon>
        <span>In Theaters</span>
      </a>

      <a mat-button routerLink="movies/popular" class="nav-button">
        <mat-icon>trending_up</mat-icon>
        <span>Popular</span>
      </a>

      <!-- Admin Section -->
      <app-authorize-view [role]="'admin'">
        <ng-container authorized>
          <div class="admin-dropdown">
            <button
              mat-button
              class="admin-button"
              [matMenuTriggerFor]="adminMenu"
            >
              <mat-icon>admin_panel_settings</mat-icon>
              <span>Admin Panel</span>
              <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #adminMenu="matMenu" class="admin-menu">
              <a mat-menu-item routerLink="genres">
                <mat-icon>category</mat-icon>
                <span>Genres</span>
              </a>
              <a mat-menu-item routerLink="actors">
                <mat-icon>people</mat-icon>
                <span>Actors</span>
              </a>
              <a mat-menu-item routerLink="movietheaters">
                <mat-icon>theater_comedy</mat-icon>
                <span>Movie Theaters</span>
              </a>
              <a mat-menu-item routerLink="movies/create">
                <mat-icon>add_circle</mat-icon>
                <span>Create Movie</span>
              </a>
              <a mat-menu-item routerLink="users">
                <mat-icon>group</mat-icon>
                <span>Users</span>
              </a>
            </mat-menu>
          </div>
        </ng-container>
      </app-authorize-view>
    </div>
  </div>

  <div class="space"></div>

  <!-- User Section - Right side -->
  <app-authorize-view>
    <ng-container authorized>
      <div class="user-dropdown">
        <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
          <img
            [src]="
              'https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png'
            "
            alt="User Avatar"
            class="user-avatar"
          />
          <span class="user-name">User</span>
          <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" class="user-menu">
          <div class="user-menu-header">
            <img
              [src]="
                'https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png'
              "
              alt="User Avatar"
              class="user-avatar-large"
            />
            <div class="user-info">
              <span class="user-name">User</span>
              <span class="member-since"
                >Member since {{ memberSince | date }}</span
              >
            </div>
          </div>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </a>
          <a mat-menu-item routerLink="/favorites">
            <mat-icon>favorite</mat-icon>
            <span>Favorites</span>
          </a>
          <a mat-menu-item routerLink="/watchlist">
            <mat-icon>playlist_play</mat-icon>
            <span>Watchlist</span>
          </a>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="securityService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
    <ng-container unauthorized>
      <div class="auth-buttons">
        <a mat-button routerLink="/login" class="login-button">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a mat-button routerLink="/register" class="register-button">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </a>
      </div>
    </ng-container>
  </app-authorize-view>
</mat-toolbar>
